.bg-gradient-black {
    background-color: #131313;
    background-size: cover;
}

.card-body p:last-child {
    margin-bottom: -5px;
}

.credits-list a {
    color: white;
    text-decoration: underline;
}

.no-border-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.no-border-left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.no-border-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.no-border-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.white-link a {
    color: white;
    text-decoration: underline;
}